
.article__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 140px;
}
.article__item > p{
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    // text-transform: uppercase;
}
.article__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.article__right > h2{
    max-width: 410px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    color: #644696;
    margin-bottom: 27px;
}
.article__right > p{
    max-width: 310px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px; 
    color: #3C3C3C;
    margin-bottom: 45px;
}
.article__button > button{
    width: 233px;
    padding: 27px 0;
    width: 233px;
    height: 70px;
    left: 885px;
    top: 1489px;
    background: #1E959B;
    box-shadow: 0px 5px 10px rgba(76, 67, 148, 0.5);
    border-radius: 20px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.article__title1 > h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    color: #644696;
    text-align: center;
    margin-top: 116px;
    margin-bottom: 52px;
}
.article__item1{
    width: 320px;
    height: 320px;
    background-color: #FFFFFF;
    background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%), #C4C4C4;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px 45px 28px 45px;
}
.article__item1 > h3{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #644696;
    margin: 19px 0 6px 0;
}
.article__item1 > p{
    max-width: 230px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #3C3C3C;
}
.article__list1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.article__item1{
    box-shadow: 0px 5px 10px rgba(76, 67, 148, 0.5);
}
.article__list1 + .article__list1{
    margin-top: 46px;
}
.article__button1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 43px;
}
.article__item1 + .article__item1{
    margin-left: 20px;
}
.button{ 
    width: 233px;
    padding: 27px 0;
   border: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    background: #1E959B;
    text-align: center;
    margin-bottom: 88px;
    color: #FFFFFF;
}
.article__img4{
    display: none;
}
@media only screen and (max-width: 866px) {
   .item-img{
    display: none;
   }
   .article__list{
    display: flex;
    align-items: center;
    justify-content: space-around;
   }
   .article__title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   }
   .article__list1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 0px;
   }

}
@media only screen and (max-width: 695px) {
    .item-img{
        display: none;
       }
       .item-img1{
        display: none;
       }
       .article__item > img{
                 width: 195px;
                 height: 164px;
       }
       .article__title{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       }
       .article__list1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 0px;
       }
       .article__item1 + .article__item1{
        margin-top: 30px;
       }
       .item-img3{
        display: none;
       }
       .item-img4{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 128px;
       }
       .article__img > img{
        width: 374px;
        height: 314px;
       }
       .article__right > h2{
        display: none;
       }
       .article__right > p{
        display: none;
       }
     .article__item1{
        display: none;
     }
     .article-item2{
        display: block;
     }
     .article__img4{
        display: block;
        margin-top: 28px;
    }
    .article__button1{
        display: none;
    }
}